[Unit]
Description=Car Dashboard

[Service]
WorkingDirectory=/usr/share/car-dashboard
ExecStart=/usr/sbin/car-dashboard

[Install]
WantedBy=multi-user.target
